// variables
$light-magenta: #f9a1f6;
$magenta: #832981;
$dark-magenta: #3d183c;

$light-yellow: #e4cc6d;
$yellow: #dbbc3d;
$dark-yellow: #9d800a;

$dark-teal: #003d2d;
$teal: #01b988;
$light-teal: #99fbe1;

$dark-blue:#009abe;
$blue: #00ceff;
$light-blue: #cbf4ff;

$white: #FFFFFF;

$body-font: #FFFFFF;
$light-gray: #A9A9A9;
$p-font: 'Muli', Helvetica, arial, sans-serif;
$h-font:'Ovo', garamond, serif; 


$break-small: 480px;
$break-large: 768px;


body {
	font-family: $p-font;
	margin: 0px;
	color: $body-font;
	font-size: 13pt;
	font-weight:100;
	text-align: left;
	background-color: $teal;
	
}

a {
	color: $yellow;
	text-decoration: none;
}

header{
	position:relative;

}

audio{
	width: 100%;
	background-color: rgba(0,0,0,.9);
}

h1, h2{
	font-family: $h-font;
	color: $light-yellow;
}

h1{
	font-size: 1.7em;
	text-align: center;
	margin: 1em 0;

}

p{
	line-height:1.5em;
	text-align: justify;
	font-weight: 100;

}



.light-yellow{color: $light-yellow;}
.yellow{color:$yellow;}
.dark-yellow{color:$dark-yellow;}

.light-magenta{color:$light-magenta;}
.magenta{color:$magenta;}
.dark-magenta{color: $dark-magenta;}

.light-teal{color:$light-teal;}
.teal{color:$teal;}
.dark-teal{color: $dark-teal;}

.light-blue{color:$light-blue;}
.blue{color:$blue;}
.dark-blue{color: $dark-blue;}


.light-yellow-background{background-color: $light-yellow;}
.yellow-background{background-color:$yellow;}
.dark-yellow-background{background-color:$dark-yellow;}

.light-magenta-background{background-color:$light-magenta;}
.magenta-background{background-color:$magenta;}
.dark-magenta-background{background-color: $dark-magenta;}

.light-teal-background{background-color:$light-teal;}
.teal-background{background-color:$teal;}
.dark-teal-background{background-color: $dark-teal;}

.light-blue-background{background-color:$light-blue;}
.blue-background{background-color:$blue;}
.dark-blue-background{background-color: $dark-blue;}

.wrapper {
	width: 600px;
	margin: 0 auto 50px auto;
	@media all and (min-width: 600){
		width:95%;

	}
}

.top-bar{
	background-color: $dark-magenta;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: $yellow;
}

.top-bar-section li:not(.has-form) a:not(.button){
	background: $dark-magenta;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover,
.top-bar-section li:not(.has-form) a:not(.button):hover{
	background: $magenta;
}

.row{
	clear:both;
}



// Display of the breakups on index.html

.breakup-pullquote{
	position: relative;
	margin: 0 auto;
	width: 70%;
	color: #ffffff;
	top: 20%;

	@media screen and (max-width: $break-large){
		width:95%;

	}

	.breakup-pullquote-text{
		font-family: $p-font;
		font-weight: 100;
		font-size: 1em;
		text-align: center;
		line-height: 1.6em;
		margin: 0 3em;

		@media screen and (max-width: $break-large) {
			margin: 0 auto;
			width:90%;

  		}
	}

	.breakup-pullquote-text:before{
		content: "\“";
		font-family: garamond, serif;
		font-size: 4em;
		position: absolute;
		line-height: 0.8em;
		left: 0;
		color: rgba(0, 0, 0, 0.25);

		@media screen and (max-width: $break-large) {
			font-size:3em;
  		}
	}
	.breakup-pullquote-text:after{
		content: "\”" ;
		font-family: garamond, serif;
		font-size: 4em;
		position: absolute;
		line-height: 0.8em;
		right: 0;
		color: rgba(0, 0, 0, 0.25);

		@media screen and (max-width: $break-large) {
			font-size:3em;
  		}

	}

	.breakup-pullquote-author{
		font-family: $h-font;
		font-weight: 100;
		font-size: 1.2em;
		/* font-style: italic; */
		text-align: center;
		padding: 2em 0;
		color: #e4cc6d;
	}

	.breakup-pullquote-tags{
		font-family: $p-font;
		font-weight: 100;
		font-size: 0.8em;
		font-style: italic;
		text-align: center;
		color: #cccccc;

	}
}


.orbit-container .orbit-next > span {
	border-left-color: #FFFFFF;
}

// The submit form styles

form{
	font-size:0.8em;
	line-height:1.2em;
}

input[type="submit"] {
	text-align: center;
	background-color: $light-yellow;
	font-family: $body-font;
	font-size: 1.4em;
	border: 2px solid $yellow;
	color: $dark-yellow;
	padding: 15px 38px;
	cursor:pointer;
}

.personal-code{
	text-align: center;
	background-color: $light-teal;
	padding:20px 10px;
	margin: 1em 0;
	p{
		text-align: center;
		color:$dark-teal;
		line-height: 2em;
		font-size: 1em;
		margin-bottom: 0;
	}
}

span.breakup-question {
	font-size: 1.3em;
	line-height: 1.6em;
}