<div class="row">
  <h1>Share your story</h1>
  <p>This is content</p>
</div>
<div class="row">
  <input type="text">
  <input type="text">
</div>
<div class="row">
  <h2>Submit</h2>
  <p>This is content about the steps</p>
  <input type="text">
  <submit class="large button even large-12" type="button">
</div>
