<div class="row">
  <div class="large-6 column large-centered">
    <%= link_to 'Share your breakup', submit_path, :class => 'button large-6 success column' %>
    <%= link_to 'Listen to the stories', listen_path, :class => 'button large-6 success column' %>
  </div>
</div>
