<%= render 'partials/submit_story' %>

<div class="row">
	<div class="fullscreen">
		<div class="pullquote small-12 large-12 columns">
			<p>NEEDS ERB code for part of transcript</p>
		</div>
		<div class="description small-12 large-12 columns">
			<p>NEEDS ERB code for part of name, age, location </p>
		</div>
		<div class="tags small-12 large-12 columns">
			<p><b>Tags:</b>NEEDS ERB code for tags</p>
		</div>
	</div>
</div>

<div class="row" id="submit">
  <h1>Share your story</h1>
  <p>This is content</p>
</div>
<div class="row">
  <input type="text">
  <input type="text">
</div>
<div class="row">
  <h2>Submit</h2>
  <p>This is content about the steps</p>
  <input type="text">
  <submit class="large button even large-12" type="button">
</div>


<div class="row">
	<h1>About</h1>
	<p><b>Tell me bout it</b> is a web app and call-in number that allows you to listen to 	and share your breakup stories.</p>

	<p>The breakup of a formerly glorious relationship can feel like the greatest tragedy to befall mankind. At least in the universe of those who are experiencing it.</p>

	<p>But as we collectively and staggeringly grow out of painful breakups and emerge as 	changed people, the stories of these tragedies become different kinds of stories. They 	become dark, hilarious comedies that evoke tears from laughter, not grimaced, snot-	drenched faces. They become stories worth bragging about, candidates for the worst 	breakup story in a circle of friends.</p>

	<p>"Oh here’s a worse story!"</p>
	<p>"Nah-uh, I win this one!"</p>
	<p>"Wait til you hear about this breakup."</p>

	<p>If time heals all wounds, then with enough temporal distance, perhaps a good number of 	these tragedies become nuggets of emotional wisdom that help us keep our own lives — and those of others — in perspective. They become stories we share like a bottle of wine, on which we feast with a bittersweet understanding of the past as it pertains to our future.</p>

	<p>This web app and call-in number is intended to help you share your painful experiences in the hopes of halving the pain for all of us.</p>

</div>
