<div class="row">
  <div class="large-6 large-centered titlecard" >
    <h1>Tell Me 'Bout It</h1>
    <p>A web app that allows you to listen to and share breakup stories.</p>
    <div class="large-5 large-centered">
      <img src="http://lamivo.com/quantifiedbreakup/heart.svg">
    </div>
  </div>
  <div class="large-5 column large-centered">
    <%= link_to 'Share your breakup', submit_path, :class => 'button large-6 success column' %>
    <%= link_to 'Listen to the stories', listen_path, :class => 'button large-6 success column' %>
  </div>
</div>
