<div class="wrapper">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="row sticky">
        <h1>Submit Your Story</h1>
      </div>

      <div class="personal-code">
        <ul class="large-block-grid-3 medium-block-grid-3">
          <li>
            <%= image_tag 'phonecall.png' %>
            <h5 class="text-center dark-magenta">1. Call-in your story</h5>
          </li>
          <li>
            <%= image_tag 'phonesms.png' %>
            <h5 class="text-center dark-magenta">2. SMS your details</h5>
          </li>
          <li>
            <%= image_tag 'phonelist.png' %>
            <h5 class="text-center dark-magenta">3. View online</h5>
          </li>
        </ul>
        </br>
        <h3 class="dark-yellow"><u>Call this number: (347) 983 1841</u></h3>
        </br>

        <div class="column">
          <p class="text-left dark-magenta">You will have 45 seconds to record your story. When finished, hang up and you will receive a text message prompt.</p>
        </div>
        <div class="row">
        </div>


      </div>

    </div>
  </div>
</div>
