<div class="row text-center">
  <h1>Thank you for submitting!</h1>
  <h3 class="white">We will be reviewing each submission.</h3>
  <h3 class="white">For questions, please reach out to <u><a href="https://twitter.com/lamthuyvo">Lam</a></u> or <u><a href="https://twitter.com/rememberlenny">Lenny</a></u></h3>
</div>
