<div class="row">

  <h1>Thank you for submitting!</h1>
  <p>We will be reviewing each submission.</p>
  <p>For questions, please reach out to <a href="https://twitter.com/lamthuyvo">Lam</a> or <a href="https://twitter.com/rememberlenny">Lenny</a></p>
</div>
