<h1>Recordings for <%= link_to @story.name, @story %></h1>
<div class="row">
  <div class="large-4 medium-6 column">
    <p>Click the recording to modify.</p>
  </div>
  <div class="large-8 medium-6 column">
    <% @recordings.each do |recording| %>
      <div class="row">
        <div class="column">
          <h4><%= link_to recording.source, [@story, recording] %></h4>
          <time>Created <%= recording.created_at %></time>
        </div>
      </div>
    <% end %>
  </div>
</div>
