<div class="row">

<h1>Admin</h1>
<div class="panel">
  <h1>Accounts</h1>
  <% @accounts.each do |account| %>
    <% account.stories = [] %>
      <% @stories.each do |story| %>
        <% if story.account_id == account.id %>
          <% account.stories.push story  %>
        <% end %>
        <% @recordings.each do |recording| %>
          <% if recording.story_id == story.id %>
            <% account.stories.push recording %>
          <% end %>
        <% end %>
      <% end %>
    <div class="row">
      <%= account.to_json %>
    </div>
  <% end %>
</div>

<div class="panel">
  <h1>Recordings</h1>
</div>

<div class="panel">
  <h1>Calls</h1>
  <% @twiliocalls.each do |call| %>
    <div class="row">
      <%= call.to_json %>
    </div>
  <% end %>
</div>

<div class="row">

  <h3>Options</h3>
  <%= link_to "View all recordings", recordings_path, :class=>"button secondary"%>
  <%= link_to "View all stories", stories_path, :class=>"button secondary"%>
</div>
