<div class="row">

<h1>Admin</h1>
<div class="panel">
  Stuff goes here
</div>


<h3>Options</h3>
<a href="" class="button secondary">View all recordings</a>
<a href="" class="button secondary">View all stories</a>
</div>
