<div class="row">

<h1>Admin</h1>
<div class="panel">
  <% @stories.each do |story| %>
    <div class="row">
      <%= story.to_json %>
    </div>
  <% end %>

  <% @recordings.each do |recording| %>
    <div class="row">
      <%= recording.to_json %>
  <% end %>
</div>
</div>

<div class="row">

  <h3>Options</h3>
  <%= link_to "View all recordings", recordings_path, :class=>"button secondary"%>
  <%= link_to "View all stories", stories_path, :class=>"button secondary"%>
</div>
