<div class="row">

<h1>Admin</h1>
<p>Note: window.hash is available via JS</p>

<div class="panel">
  <h2>Accounts</h2>
    <% @hash.each do |hash| %>
      <%= hash.inspect %>
    <% end %>
</div>

<div class="row">

  <h3>Options</h3>
  <%= link_to "View all recordings", recordings_path, :class=>"button secondary"%>
  <%= link_to "View all stories", stories_path, :class=>"button secondary"%>
</div>

<script>
  window.hash = <%= raw(@hash.to_json) %>;
  console.log(hash);
</script>
