<div class="row">

<h1>Admin</h1>
<div class="panel">
  <h2>Datas</h2>
  <% @hash.each do |hash| %>
    <div class="row">
      <script>
        var hash = <%= hash.to_json %>;
        console.log(hash);
      </script>
    </div>
  <% end %>
</div>

<div class="row">

  <h3>Options</h3>
  <%= link_to "View all recordings", recordings_path, :class=>"button secondary"%>
  <%= link_to "View all stories", stories_path, :class=>"button secondary"%>
</div>
