
<%= render 'player/javascript' %>

<div id="">
  <audio preload></audio>
  <ul class="large-block-grid-4 medium-block-grid-3">
    <% @audio.each do |audio| %>
      <li class="breakup-container story-item background-light-teal" data-id="<%= audio.id %>">
        <%= link_to '#', :class=>'specific-story', :data => { :src => audio.url } do %>
          <div class="breakup-pullquote play">
            <div class="breakup-pullquote-author">
              <span>
                <%= audio.source %>
              </span>
            </div>
            <div class="breakup-pullquote-tags">
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

