<%= render 'player/javascript' %>

<div id="wrapper">
  <h1>Breakup stories</h1>
  <audio preload></audio>
  <ol>
    <% @audio.each do |audio| %>
      <li><a href="#" data-src="<%= audio.url %>"><%= audio.source %> </a></li>
    <% end %>
  </ol>
</div>

