
<%= render 'player/javascript' %>

<div id="wrapper">

  <h1>Breakup stories</h1>
  <audio preload></audio>
  <ul class="large-block-grid-4 medium-block-grid-3">
    <% @audio.each do |audio| %>
      <li><a href="#" data-src="<%= audio.url %>"><%= audio.source %> </a></li>
    <% end %>
  </ul>
</div>

