<div class="row">
  <h1>Tell your story</h1>
  <p>This is where the instructions will go.</p>
  <button class="generate-id large button success">
    Get started
  </button>
  <h2>Your unique ID is: <span class="id-field"></span></h2>
</div>
