<div class="row">
    <div class="column large-12 medium-8">
      <h2>Tell Me 'Bout It</h2>
      <p>Explore this gallery of user submitted stories about their breakups</p>


      <div class="panel dark-magenta-background">
        <%= form_tag(stories_path, :method => "get", id: "search-form") do %>
          <label for="">Search name:</label>
          <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
          <%= submit_tag "Search", :name => nil, :class => 'button large large-12' %>
        <% end %>
      </div>
    </div>
    <div class="column large-12 medium-4">
      <div class="panel dark-magenta-background">
        <h3 class="yellow-text">Do you want to share a breakup?</h3>
        <%= link_to 'Share Your Story', submit_path, :class=>'button large large-12' %>
      </div>
    </div>
  </div>
