<div class="row">
    <div class="column large-12 medium-8">
      <h2>Tell Me 'Bout It</h2>
      <p>Explore this gallery of user submitted stories about their breakups</p>
      <div class="panel dark-magenta-background">
        <label for="">Search for:</label>
        <input type="text">
        <label for="">Sort by:</label>
        <select name="" id=""></select>
      </div>
    </div>
    <div class="column large-12 medium-4">
      <div class="panel dark-magenta-background">
        <h3 class="yellow-text">Do you want to share a breakup?</h3>
        <%= link_to 'Share Your Story', submit_path, :class=>'button large large-12' %>
      </div>
    </div>
  </div>
