<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% @stories.each do |story| %>
    <% if story.selected_recording_id %>
    <% r = Recording.find(story.selected_recording_id) %>
    <% else %>
    <% r = Recording.first %>
    <% end %>
    <li class="breakup-container story-item background-light-teal" data-id="<%= story.id %>">
      <%= link_to story, :class=>'specific-story' do %>
        <div class="breakup-pullquote play">
          <div class="breakup-pullquote-author">
            <span>
              <%= story.name %>
            </span>
          </div>
          <div class="breakup-pullquote-tags">
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
