<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% @stories.each do |story| %>
    <% if story.selected_recording_id %>
    <% r = Recording.find(story.selected_recording_id) %>
    <% else %>
    <% r = Recording.first %>
    <% end %>
    <li class="breakup-container story-item dark-magenta-background ">
      <div class="breakup-pullquote">
        <div class="breakup-pullquote-author">
          <%= link_to story do %>
          <%= story.name %>
          <% end %>
        </div>
        <div class="breakup-pullquote-tags">

        </div>
      </div>
    </li>
  <% end %>
</ul>
