  <h3 class="black-color"><u>Call this number: (347) 983 1841.</u></h3>

  <div class="column">
    <p class="text-left">You will have 45 seconds to record your story. When finished, hang up and you will receive a text message prompt.</p>
  </div>
  <div class="row">
  </div>

