<p><span class="light-yellow"><b>Step 1:</b></span> Prepare your story. You will have 45 seconds to record your story.</p>

<p><span class="light-yellow"><b>Step 2:</b></span> Call this number: (347) 983 1841.</p>

<p><span class="light-yellow"><b>Step 3:</b></span> An answering machine will walk you through the process of submitting a story. When prompted, you will have to enter your personal code:</p>

<div class="personal-code"><p>This is your personal code: <span class="yellow"><b><%= @personal_code %></b></span> </p> </div>

<p>Your unique personal code is the way to link up your phone call with your contact information and written story portion below. You may call as many times as you want using the same personal code, but once you click submit at the bottom of this page, your last recording will be the final one.</p>

<p><span class='light-yellow'><b>Step 4:</b></span> When prompted, record your story. You will have 30 seconds to finish your story. Hang up when you are finished. If you would like to record your story again, repeat steps 1-3.</p>

<p><span class="light-yellow"><b>Step 5:</b></span> When finished, hang up and complete the rest of this form below.</p>
