<h2>Your stories</h2>

<div class="row">
  <div class="large-4 medium-6 column">
    <%= render 'stories/promotion' %>
  </div>
  <div class="large-8 medium-6 column">
    <%= render 'stories/listing.html.erb' %>
  </div>
</div>

