<p id="notice"><%= notice %></p>

<!-- views/stories/index.html -->

<div class="row">
    <% @stories.each do |story| %>
      <div class="row full-height">
        <h2><%= link_to '', story %></h2>
        <p></p>
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Story', new_story_path %>
