<div class=" large-3 medium-12 column">
  <%= render 'stories/sidebar' %>
</div>
<div class="large-9 medium-12 column ">
  <div class="row ">
    <h4>Featured Stories</h4>
  </div>
  <div class="row column background-light-teal">
    <div class="row ">
    </div>

    <div class=" row selected-story">
      <%= render 'stories/slide' %>
    </div>
  </div>
</div>
