<div class="wrapper">
  <div class="row">
    <div class="small-12 large-12 columns">
      <h1>Submit Your Story</h1>
      <p>Welcome to Tell Me 'Bout It, an app that collects stories of breakups so we can all feel better about own worst breakups.</p>
      <p>Have you been broken up with in the worst, weirdest or simply amusing possible way? Did you break up with someone in a way you thought was pretty bad or maybe even pretty amazing? Have you done some really crazy stuff while trying to get over a breakup? Tell us about it! You can call in your story, record it and share it with others on this site.</p>
      <p>Here's how you do it:</p>
      <%= render 'stories/steps' %>
      <%= render 'form' %>
    </div>
  </div>
</div>
