<h1>Tell us bout it</h1>
<div class="row">
  <div class="large-4 medium-4 column">
    <div class="panel" id="existing">
      <h3>Your story</h3>
      <p>Provide details for your story to be understood. </p>
      <p>Please add a name before saving. All other fields are optional.</p>
      <%= link_to 'Back', :back, :class => 'button secondary tiny' %>
    </div>
  </div>
  <div class="large-8 medium-8 column">
    <%= render 'form' %>
  </div>
</div>

<script>
  $('#existing').scrollToFixed();
</script>
