<h1>Tell us bout it</h1>
<div class="row">
  <div class="large-4 medium-4 column">
    <div class="panel" id="existing">
      <h3>Your story</h3>

    </div>
  </div>
  <div class="large-8 medium-8 column">
    <%= render 'form' %>
  </div>
</div>
