<div class=" large-3 medium-3 column">
  <ul class="side-nav">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
  </ul>
</div>
<div class=" large-9 medium-9 column">
  <%= render 'stories/slide' %>
</div>
